@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
        <h3 class="display-4" font-face="italic">"La mejor forma de predecir el futuro es implementarlo"</h3>
      
        <p>
            David Heinemeier Hansson
        </p>
</div>
